*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;    
    background: #99bbaa;
}
.mainBody{
    padding:20px;
    background:rgb(219, 243, 243);
    border:2px solid #786547;
    border-radius: 6px;
    width:450px;
    font-size:1.5rem;
    /* display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; */

}
.mainBody :where(textarea,button){
    width:100%;

}
.mainBody .saveAs{
    display:flex;
    margin-top:5px;
    margin-bottom:5px;
}
.mainBody .saveAs{
    display:flex;
    margin-top:5px;
    margin-bottom:5px;
}
.mainBody .fileName{
    margin: 8px;
    font-size:1.2rem;
    font-family:sans-serif;
}
.mainBody .fileName label{
    margin-right: 5px;
}
.mainBody .fileName input{
    font-size: 20px;
    padding:3px;
    color : #1212ff;
}
.mainBody .selectMenu select{    
    font-family: sans-serif;
    font-size: 1.1rem;
    margin-left:25px;
    color: #128832;
}
.mainBody textarea{    
    height:250px;
    font-family: sans-serif;
    font-size: 1.rem;
    resize:none;
    padding: 7px;
}
.mainBody .btnSave{    
    margin-top:17px;
    font-family: sans-serif;
    font-size: 1.1rem;
    padding: 7px;
    opacity : 0.6;
    pointer-events =none;
}
.mainBody textarea:valid ~ .btnSave{    
    opacity:1;
    pointer-events = auto;
}
